<?xml version="1.0"?>
<robot name="carlike">
  <link name="world"/>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.3"/>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 0.8 1"/>
      </material>
    </visual>
  </link>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
</robot>
